# Node.js dependencies
node_modules/
frontend/node_modules/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd


.vscode/
.DS_Store
# Environment files
.env
*.log
# Build output
build/
dist/
Thumbs.db
.ipynb_checkpoints/ 
.Edgar.txt
.jobs.json
scraper/jobs.json
createdFiles.lst
inputFiles.lst
*.class
backend/target/